{% extends 'muxic/theme.html' %}
{% block title %}Đăng ký{% endblock title %}

{% load staticfiles %}
{% block body %}
    <!-- phan dang ki -->
    <div class="container-fluid" style="font-size: 15px">
        <br>
        <div class="row">
            <div class=" col-md-12" id="signupinfo">
                <div class="col-md-8">
                    <form class="form-group" method="POST" action="" id="registration">
                        {% csrf_token %}
                        {% include 'muxic/form_template.html' %}
                        <div class="col-md-offset-6 col-md-3">
                            <button type="submit" class="btn btn-success">Đăng ký</button>
                        </div>
                    </form>
                </div>
                <div class=" col-md-4">
                    <img src="{% static 'muxic/images/logo.png' %}" style="width: 200px; height: 200px;">
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
