{% extends 'muxic/theme.html' %}
{% block title %} Tìm kiếm {% endblock title %}
{% load staticfiles %}
{% block body %}
    <div class="container-fluid">
        <div class="row col-md-12">
            <div class="col-md-9">
                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th class="col-md-3">Tên bài hát</th>
                        <th class="col-md-3">Ca Sĩ</th>
                        <th class="col-md-3">Ngày cập nhật</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if queryset_list %}
                        {% for item in queryset_list %}
                            <tr>
                                <td class="col-md-3"><a href="{% url 'muxic:songdetail' item.id %}">{{ item.title }}</a>
                                </td>
                                <td class="col-md-3">{{ item.artist }}</td>
                                <td class="col-md-3">{{ item.date_release }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td><p>Không có kết quả phù hợp với từ tìm kiếm</p></td>
                        </tr>

                    {% endif %}

                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" style="display: none">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'muxic/images/images-1.jpg' %}" alt="item 1">
                            <div class="carousel-caption">
                                <h3> Enjoy your moment</h3>
                                <h5>Be happy for this moment</h5>
                            </div>
                        </div>
                        <div class="item ">
                            <img src="{% static 'muxic/images/images-2.jpg' %}" alt="item 2">
                            <div class="carousel-caption">
                                <h3> Live your life</h3>
                                <h5>Live your life in your own way</h5>
                            </div>
                        </div>
                        <div class="item ">
                            <img src="{% static 'muxic/images/images-3.jpg' %}" alt="item 3">
                            <div class="carousel-caption">
                                <h3> No music</h3>
                                <h4>We riot</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#        <div class="pagination">#}
        {#            <span class="step-links">#}
        {#                {%  if queryset_list.has_previous %}#}
        {#                    <a href="?{{ page_request_var }}={{ queryset_list.previous_page_number }}">Trước</a>#}
        {#                {% endif %}#}
        {##}
        {#                <span class="current">#}
        {#                    Trang {{ queryset_list.number }} của {{ queryset_list.paginator.num_pages }}#}
        {#                </span>#}
        {##}
        {#                {% if queryset_list.has_next %}#}
        {#                    <a href="?{{ page_request_var }}={{ queryset_list.next_page_number }}">Sau</a>#}
        {#                {% endif %}#}
        {#            </span>#}
        {#        </div>#}
    </div>
{% endblock body %}