<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}MuXic{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'muxic/style/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'muxic/script/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'muxic/style/style.css' %}">
    <script src="{% static 'muxic/script/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'muxic/style/SongDetail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'muxic/style/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'muxic/style/album.css' %}">
    <script src="{% static 'muxic/script/SongDetail.js' %}"></script>
</head>

<body>
<!-- thanh menu top -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="topmenu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="icon" href="{% url 'muxic:index' %}"><img
                    src="{% static 'muxic/images/logo.png' %}" id="logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'muxic:allsong' %}">
                        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>&nbsp; Bài hát
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" id="search" method="get" action="{% url 'muxic:search' %}">
                <input name="q" type="text" size="40" placeholder="Bạn tìm gì?"/>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'muxic:add_song' %}"><span class=" glyphicon glyphicon-upload"></span>&nbsp; Tải
                            lên</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="height: 50px;margin-top: -10px"><img
                                class="img-circle" src="{% static 'muxic/images/profile.png' %}" style="height: 40px">&nbsp;&nbsp;<span>{{ user.username }}</span><span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" style="margin-top: 10px;color: white;background: #222222">
                            <li><a href="{% url 'muxic:user' user.username %}">Trang cá nhân</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'muxic:logout' %}"><span class="glyphicon glyphicon-off"></span>Đăng
                                xuất</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'muxic:login' %}"><span class=" glyphicon glyphicon-upload"></span>&nbsp; Tải
                            lên</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="height: 50px;margin-top: -10px"><img
                                class="img-circle" src="{% static 'muxic/images/profile.png' %}"
                                style="height: 40px">&nbsp;<span>Đăng nhập</span><span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" style="margin-top: 10px;color: white;background: #222222">
                            <li><a href="{% url 'muxic:login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Đăng
                                nhập</a></li>
                            <li><a href="{% url 'muxic:register' %}"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;Đăng
                                ký</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-3">
                    <h4 style="text-align: center">Địa chỉ liên lạc: </h4>
                    <hr>
                    <ul>
                        <li style="text-align: left ">Tòa nhà X, Khu phố Y, TP. Thanh Hóa, Thanh Hóa</li>
                    </ul>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <h4 style="text-align: center">Kết nối với chúng tôi</h4>
                    <hr>
                    <ul id="footer_icon">
                        <li style="margin-left: -50px"><a href="#"><img src="{% static 'muxic/images/icon1.png' %}"
                                                                        style="width: 50px;height: 50px"></a></li>
                        <li style="margin-left: 30%"><a href="#"><img src="{% static 'muxic/images/icon2.png' %}"
                                                                      style="width: 55px;height: 55px"></a></li>
                        <li style="margin-left: 30%;"><a href="#"><img src="{% static 'muxic/images/icon3.png' %}"
                                                                       style="width: 50px;height: 50px"></a></li>
                    </ul>
                    <br>
                    <br>
                    <br>


                </div>
            </div>
        </div>
        <div class="container-fluid">

            <div class="col-md-12" id="CopyRight" style="margin-top: -10px">
                <p style="text-align: center"> &copy; Copyright by: AL-Team</p>
            </div>
        </div>

    </footer>
    </body>
    </html>

{% endblock %}