{% extends 'muxic/theme.html' %}
{% block title %}Trang cá nhân{% endblock title %}

{% load staticfiles %}
{% block body %}
    <!-- ảnh trên web login -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="LeftMenu" style="background-color: #e7e7e7;">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-circle" src="{% static 'muxic/images/profile.png' %}   "
                             style="margin-left: 50px">
                    </div>
                    <div class="col-md-12">
                        <ul class="nav nav-tabs nav-stacked">
                            <li role="presentation" class="col-md-12 control-label" style="text-align: center"><h3>
                                <strong> {{ user_profile.user.username }}</strong></h3></li>
                            <li role="presentation" class="col-md-12 control-label"
                                style="margin-left: 17px; margin-bottom: 2px;color: #357ae8;">
                                <strong>Email: </strong> {{ user_profile.user.email }} </li>
                        </ul>
                        <div class="col-md-12  ">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="{% url 'muxic:user_fav' user_profile.user.username %}"><span
                                                    class="glyphicon ">
                                                </span><strong>Yêu thích</strong></a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="{% url 'muxic:user' user_profile.user.username %}"><span
                                                    class="glyphicon ">
                                                </span><strong>Nhạc upload</strong></a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th class="col-md-3">Tên bài hát</th>
                        <th class="col-md-3">Ca Sĩ</th>
                        <th class="col-md-3">Ngày cập nhật</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% block song %}{% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}